#Cart{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: white;
}

#detalleCart{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
    align-items: center;
    border: solid 1px rgb(204, 141, 69);
    width: 90%;

}

#detalleCart img{
    width: 20%;

}
#butonCart{
    border-radius: 20px;
    background-color:rgb(204, 141, 69);
    margin: 2%;
    text-decoration: none;   
    color: white;
    padding: 1%;
}

#Contacto{
    margin: auto;
    display: flex;
    flex-direction: column;
}

#Contacto button{
    width: 20%;
    margin: auto;
    margin-top: 5%;
}
#Finalizacompra{
    margin: auto;
    display: flex;
    flex-direction: column;
}