.NavBar{
    float: left;
    width: 100%;
}
.ListaNav{
    display: flex;
    flex-direction: row;
    list-style: none;
}
li{
    margin: auto;
    width: 20%;
    
}
#buton{
    border-radius: 20px;
    width: 100%;
    background-color:rgb(204, 141, 69);
    margin: 2%;
}